<section class="budget-progress">
    <div class="budget-track">
        <div class="amount-spent">
            <p>₦50,000</p>
            <span>spent</span>
        </div>
        <div class="amount-left">
            <p>₦50,000</p>
            <span>left</span>
        </div>
    </div>
  
    <div class="budget-level">
        <div class="budget-bar">
            <div class="amount-spent">
                <p>₦50,000</p>
                <span>spent</span>
            </div>
            <div class="amount-left">
                <p>₦50,000</p>
                <span>left</span>
            </div>
        </div>
    </div>
</section>

<button>Toggle Animation</button>
