@page "/TimeBudgetItems/Create"

@inject HttpClient _http
@inject NavigationManager _uriHelper

<h3>Create New Time Allotment</h3>
<Form ButtonText="Save" TimeLimit="@_budgetItem" OnValidSubmit="@CreateDeveloper"> </Form>

@* based on a weekly schedule - let's start by allotment in hours *@

@code {

    TimeLimit _budgetItem = new();

    async Task CreateDeveloper()
    {
        await _http.PostAsJsonAsync("api/developer", _budgetItem);
        _uriHelper.NavigateTo("developer");
    }
}
