@page "/dashboard"

<PageTitle>Dashboard</PageTitle>

<h3>Dashboard</h3>

Total Time Logged For the Week

//Calculate Total Time Ellapsed for the Week so Far.
--calculate how much time has passed since Monday


//Use Toggl API to Return How much Time we have logged for the Week so Far.



@code {

    DateTime.Now.

}
