<section class="budget-progress">
    <div class="budget-track">
        <div class="amount-spent">
            <p>1</p>
            <span>Remaining</span>
        </div>
        <div class="amount-total">
            <p>2</p>
            <span>left</span>
        </div>
    </div>
  
    <div class="budget-level">
        <div class="budget-bar">
            <div class="amount-spent">
                <p>3</p>
                <span>Total</span>
            </div>
            <div class="amount-total">
                <p>4</p>
                <span>left</span>
            </div>
        </div>
    </div>
</section>

<button>Toggle Animation</button>